<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AI Corona Help - Couch Hero</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag 'https://scontent.ffra1-1.fna.fbcdn.net/v/t1.0-9/91929639_106180774378821_5377536373009940480_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=XFiKwu-Q7aIAX_m3bfZ&_nc_ht=scontent.ffra1-1.fna&oh=6a44c2f1dde01d88baf6a46af4af1d7f&oe=5EAED974' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
